<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Danh sách nhiệm vụ</h3>
    <div class="row mt">
        <div class="col-lg-4">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Thêm nhiệm vụ</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhập nhiệm vụ...">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-theme btn-block">Thêm</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <section class="task-panel tasks-widget">
                <div class="panel-body">
                    <div class="task-content">
                        <ul class="task-list">
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                    <span class="badge bg-theme">Done</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@section scripts{

}
